.galleryconteiner {
  margin: 20px 0;
  padding: 0 100px;

.slidertitle{
    font-size: 48px;
    font-weight: 400;
    color: rgba(93, 64, 55, 1);
    height: 88px;
    margin-bottom: 20px;
  }

  .sliderconteiner {
    display: flex;
    align-items: center;
    position: relative;
.swiper{
border: 0 100px 0 0;
}



    button {
      width: 68px;
      height: 68px;
      background-color: rgba(152, 137, 108, 1);
      border-radius: 50%;
      padding: 10px;
      border: none;
      margin: 0 10px;
      cursor: pointer;

      .icon {
        color: white;
        font-size: 3em;
      }
    }

    .swiper {
      margin: 0 30px;
    }

    .slider {
      width: 455px;
      height: 366px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0 0 22.87px rgba(0, 0, 0, 0.15);
        border-radius: 0 150px 0 0;
        border: 5px solid white;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}