.vintageItem {
  display: flex;
  align-items: center;
  margin: 50px 0;
  height: 547px;
}
.vintageItem .imageContainer {
  width: 879px;
  height: 547px;
  margin: 15px 0 0 0;
  overflow: hidden;
}
.vintageItem .imageContainer:nth-child(even) {
  border-radius: 100px 0 0 0;
}
.vintageItem .imageContainer img {
  width: 100%;
  height: auto;
}
.vintageItem .info {
  width: 617px;
  padding: 0 30px;
  color: rgb(0, 0, 0);
  opacity: 70%;
}
.vintageItem .info h1 {
  font-family: "aurora";
  font-weight: 400;
  font-size: 36px;
  padding: 30px;
  line-height: 66px;
}
.vintageItem .info p {
  line-height: 28px;
  font-size: 22px;
  font-weight: 400;
  text-align: start;
}

.reversed {
  flex-direction: row-reverse;
  padding: 20px 0;
}
.reversed .imageContainer img {
  border-radius: 100px 0 0 0;
}

@media screen and (max-width: 1600px) {
  .vintageItem {
    display: flex;
    align-items: center;
  }
  .vintageItem .imageContainer {
    height: 450px;
  }
  .vintageItem .info h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .vintageItem {
    display: flex;
    align-items: center;
  }
  .vintageItem .imageContainer img {
    height: 100%;
  }
  .vintageItem .info p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1307px) {
  .vintageItem .info h1 {
    font-size: 30px;
  }
  .vintageItem .info p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1240px) {
  .vintageItem .info h1 {
    font-size: 25px;
  }
  .vintageItem .info p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1040px) {
  .vintageItem {
    height: 600px;
  }
  .vintageItem .info h1 {
    padding: 30px 0;
  }
}
@media screen and (max-width: 1010px) {
  .vintageItem {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .vintageItem:nth-child(odd) .imageContainer img {
    border-radius: 200px 0 0 0;
  }
  .vintageItem:nth-child(even) .imageContainer img {
    border-radius: 0 200px 0 0;
  }
  .vintageItem .info {
    width: 100%;
    text-align: center;
  }
  .vintageItem .info h1 {
    padding: 15px 0;
  }
  .vintageItem .info p {
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  .vintageItem {
    height: 600px;
  }
  .vintageItem .imageContainer {
    width: 100%;
  }
  .vintageItem .info h1 {
    padding: 30px 0;
  }
}
@media screen and (max-width: 600px) {
  .vintageItem {
    height: auto;
    min-height: 200px;
    margin: 0;
    padding: 0;
  }
  .vintageItem:nth-child(odd) .imageContainer {
    height: auto;
  }
  .vintageItem:nth-child(odd) .imageContainer img {
    height: 250px;
    border-radius: 100px 0 0 0;
  }
  .vintageItem:nth-child(even) .imageContainer {
    height: auto;
  }
  .vintageItem:nth-child(even) .imageContainer img {
    height: 250px;
    border-radius: 0 100px 0 0;
  }
  .vintageItem .info {
    padding: 0;
  }
  .vintageItem .info h1 {
    line-height: normal;
    padding: 30px 0;
  }
}
@media screen and (max-width: 400px) {
  .vintageItem .imageContainer {
    width: 100%;
  }
  .vintageItem .info h1 {
    font-size: 18px;
  }
  .vintageItem .info p {
    font-size: 16px;
  }
}/*# sourceMappingURL=vintageItem.module.css.map */