.followusContainer {
  padding: 100px 0;
  min-height: 400px;
  background-color: rgba(152, 137, 108, 1);

  .followusText {
    text-align: center;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 28px;

    h1 {
      color: white;
      font-weight: 700;
      font-size: 64px;
      height: 83px;
      margin: 0;
    }

    p {
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      font-size: 30px;
      height: 40px;
      margin: 0;
    }

    button {
      cursor: pointer;
      margin: 30px 0;
      font-size: 25px;
      padding: 10px 20px;
      background-color: rgba(152, 137, 108, 1);
      color: white;
      border: 1px solid white;
      border-radius: 25px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        margin-right: 5px;
        font-size: 35px;
      }
    }
  }

  .followusImgContainer {
    width: 100%;
    overflow: hidden;
    padding-top: 50px;
    display: flex;

    .image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .followusContainer {
    min-height: 300px;
    max-height: 1000px;
    .followusText {
      h1 {
        font-size: 50px;
      }
    }
  }
}
@media screen and (max-width: 1010px) {
  .followusContainer {
    padding: 50px 0;
    .followusText {
      h1 {
        font-size: 50px;
      }
      p {
        font-size: 25px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .followusContainer {
    .followusText {
      padding: 0 20px;

      h1 {
        font-size: 30px;
      }
      button {
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .followusContainer {
   
    .followusText {
      padding: 0;
      p {
        font-size: 16px;
        padding: 0 20px;
      }
      h1 {
        padding: 0;
        font-size: 30px;
        line-height: 38px;
      }
      button {
        font-size: 16px;
      }
    }

   
   
   
   
   
   
   
  }
}

