.homepageconteiner {
  height: 1000px;
  padding: 0 0 0 200px;
  display: flex;
}
.homepageconteiner .welcometoAbc {
  width: 467px;
  height: 900px;
  padding: 50px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.homepageconteiner .welcometoAbc h1 {
  font-family: "aurora";
  width: 466px;
  padding: 24px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  color: rgb(93, 64, 55);
  text-align: start;
}
.homepageconteiner .welcometoAbc p {
  font-size: 21px;
  font-weight: 400;
  line-height: 27px;
  opacity: 70%;
  text-align: start;
}
.homepageconteiner .imgbox {
  width: 100%;
}
.homepageconteiner .imgbox .vintageimg {
  height: 900px;
  width: 100%;
}

@media screen and (max-width: 1450px) {
  .homepageconteiner {
    padding: 0 0 0 100px;
  }
  .homepageconteiner .welcometoAbc {
    width: 420px;
  }
  .homepageconteiner .welcometoAbc h1 {
    font-size: 50px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 80%;
  }
}
@media screen and (max-width: 1330px) {
  .homepageconteiner .welcometoAbc {
    width: 400px;
  }
}
@media screen and (max-width: 1200px) {
  .homepageconteiner .welcometoAbc {
    width: 350px;
  }
  .homepageconteiner .welcometoAbc h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1150px) {
  .homepageconteiner {
    padding: 20px 0 20px 50px;
  }
}
@media screen and (max-width: 1010px) {
  .homepageconteiner {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .homepageconteiner .welcometoAbc {
    justify-content: center;
    padding: 10px 0;
    height: 650px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 70%;
  }
  .homepageconteiner .welcometoAbc p {
    display: none;
  }
  .homepageconteiner .welcometoAbc h1 {
    text-align: center;
    font-size: 45px;
  }
  .homepageconteiner .imgbox {
    width: 100vw;
  }
  .homepageconteiner .imgbox .vintageimg {
    height: auto;
    width: 100%;
    border-radius: 0 0 0 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 600px) {
  .homepageconteiner .welcometoAbc {
    height: 550px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 65%;
  }
  .homepageconteiner .imgbox .vintageimg {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 0 0 0 150px;
  }
}
@media screen and (max-width: 470px) {
  .homepageconteiner .welcometoAbc {
    height: 550px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 65%;
  }
  .homepageconteiner .imgbox .vintageimg {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 400px) {
  .homepageconteiner {
    height: 750px;
  }
  .homepageconteiner .welcometoAbc {
    height: 400px;
  }
  .homepageconteiner .welcometoAbc h1 {
    font-size: 32px;
    width: 250px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 155px;
  }
  .homepageconteiner .imgbox .vintageimg {
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 360px) {
  .homepageconteiner {
    height: 100%;
  }
  .homepageconteiner .welcometoAbc {
    width: 100%;
    height: 400px;
  }
  .homepageconteiner .welcometoAbc h1 {
    font-size: 32px;
    width: 250px;
  }
  .homepageconteiner .welcometoAbc img {
    width: 155px;
  }
  .homepageconteiner .imgbox .vintageimg {
    height: 300px;
    border-radius: 0 0 0 150px;
  }
}/*# sourceMappingURL=home.module.css.map */