.headerConteiner {
  font-size: 22px;
  font-weight: 400;
}
.headerConteiner header {
  width: 100%;
  position: relative;
}
@keyframes scrollDown {
  from {
    top: 60px;
  }
  to {
    top: 0px;
  }
}
.headerConteiner header .headerNav {
  position: fixed;
  top: 60px;
  background-color: white;
  z-index: 999;
  width: 100%;
  height: 60px;
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(152, 137, 108);
}
.headerConteiner header .headerNav.scrolled {
  position: fixed;
  transition: top 0.5s ease, padding 0.5s ease;
  animation: scrollDown 0.3s forwards;
}
.headerConteiner header .headerNav .headerContent {
  width: 1520px;
  height: 60px;
  position: absolute;
  left: 200px;
  right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerConteiner header .headerNav .icons {
  display: none;
}
.headerConteiner header .headerNav img {
  cursor: pointer;
  width: 205px;
  height: 56px;
}
.headerConteiner header .headerNav .listbox {
  width: 100%;
}
.headerConteiner header .headerNav .listbox .responsivenavigation {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.headerConteiner header .headerNav .listbox .responsivenavigation .active {
  color: rgb(93, 64, 55);
  font-weight: bold;
}
.headerConteiner header .headerNav .listbox .responsivenavigation li {
  color: rgb(93, 64, 55);
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
}
.headerConteiner header .headerNav .listbox .responsivenavigation li:hover {
  color: rgb(152, 137, 108);
}

@media screen and (max-width: 1900px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1500px;
  }
}
@media screen and (max-width: 1860px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1460px;
  }
}
@media screen and (max-width: 1830px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1430px;
  }
}
@media screen and (max-width: 1780px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1380px;
  }
}
@media screen and (max-width: 1740px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1340px;
  }
}
@media screen and (max-width: 1710px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1310px;
  }
}
@media screen and (max-width: 1670px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1270px;
  }
}
@media screen and (max-width: 1640px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1230px;
  }
}
@media screen and (max-width: 1600px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1190px;
  }
}
@media screen and (max-width: 1570px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1160px;
  }
}
@media screen and (max-width: 1540px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1130px;
  }
}
@media screen and (max-width: 1510px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1100px;
  }
}
@media screen and (max-width: 1480px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1070px;
  }
}
@media screen and (max-width: 1450px) {
  .headerConteiner header .headerNav .headerContent {
    position: absolute;
    left: 100px;
    right: 100px;
    width: 1240px;
  }
}
@media screen and (max-width: 1420px) {
  .headerConteiner header .headerNav .headerContent {
    position: absolute;
    width: 1210px;
  }
}
@media screen and (max-width: 1400px) {
  .headerConteiner header .headerNav .headerContent {
    position: absolute;
    width: 1170px;
  }
}
@media screen and (max-width: 1360px) {
  .headerConteiner header .headerNav .headerContent {
    position: absolute;
    width: 1130px;
  }
}
@media screen and (max-width: 1330px) {
  .headerConteiner header .headerNav .headerContent {
    position: absolute;
    width: 1100px;
  }
}
@media screen and (max-width: 1290px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1060px;
  }
}
@media screen and (max-width: 1240px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1030px;
  }
}
@media screen and (max-width: 1210px) {
  .headerConteiner header .headerNav .headerContent {
    width: 1000px;
  }
}
@media screen and (max-width: 1170px) {
  .headerConteiner header .headerNav .headerContent {
    width: 960px;
  }
}
@media screen and (max-width: 1150px) {
  .headerConteiner header .headerNav .headerContent {
    width: 990px;
  }
}
@media screen and (max-width: 1130px) {
  .headerConteiner header .headerNav .headerContent {
    width: 970px;
  }
}
@media screen and (max-width: 1110px) {
  .headerConteiner header .headerNav .headerContent {
    width: 950px;
  }
}
@media screen and (max-width: 1090px) {
  .headerConteiner header .headerNav .headerContent {
    width: 930px;
  }
}
@media screen and (max-width: 1060px) {
  .headerConteiner header .headerNav .headerContent {
    width: 900px;
  }
}
@media screen and (max-width: 1030px) {
  .headerConteiner header .headerNav .headerContent {
    width: 870px;
  }
}
@media screen and (max-width: 1010px) {
  .headerConteiner header .headerNav {
    height: 72px;
    display: flex;
    top: 0;
    padding: 20px;
    position: relative;
  }
  .headerConteiner header .headerNav .headerContent {
    position: static;
  }
  .headerConteiner header .headerNav img {
    width: 150px;
    height: 56px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .headerConteiner header .headerNav .icons {
    display: block;
    font-weight: 700;
    color: rgb(152, 137, 108);
  }
  .headerConteiner header .headerNav .listbox {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .headerConteiner header .headerNav {
    padding: 30px 20px 5px 20px;
  }
  .headerConteiner header .headerNav .icons {
    width: 18px;
    height: 12px;
  }
  .headerConteiner header .headerNav img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 120px;
    height: 42px;
  }
  .headerConteiner header .headerNav .listbox.changebg .list {
    width: 70%;
  }
}/*# sourceMappingURL=header.module.css.map */