.conteiner {
  margin-top: 100px;
  padding: 20px 200px 20px 200px;
  .gallarytitle {
    font-size: 64px;
    font-weight: 400;
    color: #5d4037;
    opacity: 70%;
    font-family: "aurora";
  }
 
}
