.contactconteiner {
  height: 1150px;
  padding: 100px 200px;
}
.contactconteiner .title {
  padding: 70px 0;
}
.contactconteiner .title h1 {
  font-family: "aurora";
  font-weight: 400;
  font-size: 64px;
  color: rgb(93, 64, 55);
  opacity: 90%;
}
.contactconteiner .contactus {
  display: flex;
  height: 783px;
}
.contactconteiner .contactus .formconteiner {
  width: 500px;
  height: 783px;
  margin-right: 24px;
}
.contactconteiner .contactus .formconteiner .contactustitle {
  width: 100%;
}
.contactconteiner .contactus .formconteiner .contactustitle h1 {
  padding: 0 50px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 46px;
  color: rgb(93, 64, 55);
}
.contactconteiner .contactus .formconteiner .contactustitle h1:lang(cz) {
  font-size: 25px;
}
.contactconteiner .contactus .formconteiner .formikConteiner {
  margin: 24px 0;
}
.contactconteiner .contactus .formconteiner .formikConteiner .form {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 470px;
}
.contactconteiner .contactus .formconteiner .formikConteiner input {
  margin: 18px 0;
  border-radius: 15px;
  outline: none;
  height: 54px;
  border: 1px solid rgb(152, 137, 108);
  padding: 15px;
}
.contactconteiner .contactus .formconteiner .formikConteiner .error {
  font-size: 15px;
  color: rgb(152, 137, 108);
  text-align: start;
  padding: 5px;
}
.contactconteiner .contactus .formconteiner .formikConteiner textarea {
  height: 173px;
  border-radius: 15px;
  border: 1px solid rgb(152, 137, 108);
  padding: 15px;
  outline: none;
  margin: 18px 0;
  resize: none;
}
.contactconteiner .contactus .formconteiner button {
  background-color: rgb(152, 137, 108);
  color: white;
  border: none;
  padding: 10px;
  font-size: 22px;
  border-radius: 20px;
  width: 250px;
  height: 64px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}
.contactconteiner .contactus .formconteiner button:hover {
  background-color: rgb(97, 85, 59);
}
.contactconteiner .contactus .mapconteiner {
  width: 990px;
  height: 738px;
}
.contactconteiner .contactus .mapconteiner .map {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  border: none;
}

@media screen and (max-width: 1810px) {
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    font-size: 34;
    padding: 0;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(cz) {
    font-size: 23px;
  }
}
@media screen and (max-width: 1600px) {
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    font-size: 30px;
    padding: 0;
  }
}
@media screen and (max-width: 1530px) {
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    padding: 0;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(eng) {
    font-size: 30px;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(cz) {
    font-size: 22px;
  }
}
@media screen and (max-width: 1450px) {
  .contactconteiner {
    padding: 0 100px;
  }
  .contactconteiner .title h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 1205px) {
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(eng) {
    font-size: 30px;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(cz) {
    font-size: 21px;
  }
}
@media screen and (max-width: 1150px) {
  .contactconteiner {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1035px) {
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    font-size: 29px;
  }
}
@media screen and (max-width: 1010px) {
  .contactconteiner {
    padding: 0;
    height: 1200px;
  }
  .contactconteiner .title {
    padding: 10px 0;
  }
  .contactconteiner .contactus {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .contactconteiner .contactus .formconteiner {
    margin: 0;
    padding: 0 20px;
    width: 75%;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    font-size: 25px;
  }
  .contactconteiner .contactus .formconteiner .formikConteiner {
    margin: 0px 0 20px 0;
  }
  .contactconteiner .contactus .formconteiner .formikConteiner button {
    width: 100%;
  }
  .contactconteiner .contactus .mapconteiner {
    border-radius: none;
    width: 100%;
  }
  .contactconteiner .contactus .mapconteiner .map {
    min-height: 400px;
    border-radius: 0;
  }
}
@media screen and (max-width: 750px) {
  .contactconteiner {
    height: 1150px;
  }
  .contactconteiner .title {
    padding: 10px 0;
  }
  .contactconteiner .contactus .formconteiner .contactustitle:lang(eng) {
    padding: 0 50px;
  }
  .contactconteiner .contactus .formconteiner .contactustitle:lang(cz) {
    padding: 0;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    line-height: 22px;
    font-size: 18px;
  }
  .contactconteiner .contactus .formconteiner button {
    height: 48px;
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .contactconteiner {
    height: 1100px;
  }
  .contactconteiner .title h1 {
    font-size: 35px;
  }
  .contactconteiner .contactus .formconteiner {
    width: 100%;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(eng) {
    font-size: 18px;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1:lang(cz) {
    font-size: 17px;
  }
}
@media screen and (max-width: 420px) {
  .contactconteiner .title h1 {
    font-size: 32px;
  }
  .contactconteiner .contactus .formconteiner .contactustitle h1 {
    font-size: 16px;
  }
  .contactconteiner .contactus .formconteiner .formikConteiner .form textarea {
    margin: 15px 0 15px 0;
  }
  .contactconteiner .contactus .formconteiner .formikConteiner .form .error {
    font-size: 14px;
    line-height: 0;
  }
}/*# sourceMappingURL=contact.module.css.map */