.footerContainer {
  background-color: rgb(152, 137, 108);
}
.footerContainer.czStyles .one .footer .contact {
  width: 320px;
}
.footerContainer.czStyles .copyrightConteiner {
  gap: 0;
}
.footerContainer.czStyles .copyrightConteiner .copyright p {
  font-size: 20px;
}
.footerContainer.czStyles .copyrightConteiner .navlinks ul li {
  font-size: 20px;
}
.footerContainer .one .footer {
  display: flex;
  padding: 64px 200px;
  justify-content: space-between;
  align-items: flex-start;
}
.footerContainer .one .footer h1 {
  font-weight: 400;
  padding-bottom: 25px;
  color: rgb(93, 64, 55);
  text-align: start;
}
.footerContainer .one .footer p {
  text-align: start;
  color: white;
  font-size: 22px;
}
.footerContainer .one .footer .about {
  width: 240px;
  height: 260px;
  text-align: start;
}
.footerContainer .one .footer .about p {
  width: 100%;
  line-height: 28px;
}
.footerContainer .one .footer .mainMenu {
  width: 240px;
  height: 260px;
}
.footerContainer .one .footer .mainMenu nav {
  display: flex;
  justify-content: space-between;
  text-align: start;
}
.footerContainer .one .footer .mainMenu nav ul {
  height: 119px;
  line-height: 28px;
}
.footerContainer .one .footer .mainMenu nav ul li {
  cursor: pointer;
  margin: 16px 0;
  font-size: 22px;
  color: white;
  list-style: none;
}
.footerContainer .one .footer .logo {
  width: 290px;
  height: 264px;
}
.footerContainer .one .footer .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footerContainer .one .footer .contact {
  width: 290px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footerContainer .one .footer .contact a {
  text-decoration: none;
  color: white;
}
.footerContainer .one .footer .follow {
  width: 151px;
  height: 260px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footerContainer .one .footer .follow .socialMediaicons {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footerContainer .one .footer .follow .socialMediaicons a {
  text-decoration: none;
}
.footerContainer .one .footer .follow .socialMediaicons a .socialItem {
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.footerContainer .one .footer .follow .socialMediaicons a .socialItem img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
}
.footerContainer .copyrightConteiner {
  height: 86px;
  padding: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid white;
  color: white;
  gap: 20px;
}
.footerContainer .copyrightConteiner .copyright {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.footerContainer .copyrightConteiner .copyright h1 {
  margin: 0;
}
.footerContainer .copyrightConteiner .copyright p {
  margin: 0;
}
.footerContainer .copyrightConteiner .navlinks nav {
  display: flex;
  align-items: center;
}
.footerContainer .copyrightConteiner .navlinks nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.footerContainer .copyrightConteiner .navlinks nav ul li {
  margin: 0 20px;
  font-size: 22px;
  cursor: pointer;
}

@media screen and (max-width: 1645px) {
  .czStyles .one .footer .mainMenu {
    width: 200px;
  }
  .czStyles .copyrightConteiner h1 {
    font-size: 40px;
  }
  .czStyles .copyrightConteiner .copyright {
    gap: 50px;
  }
}
@media screen and (max-width: 1605px) {
  .footerContainer .one .footer .about p {
    width: 80%;
  }
  .footerContainer .one .footer .mainMenu {
    width: 200px;
  }
  .footerContainer .copyrightConteiner {
    justify-content: space-evenly;
    gap: 0;
  }
  .footerContainer .copyrightConteiner .copyright {
    gap: 50px;
  }
}
@media screen and (max-width: 1570px) {
  .footerContainer.czStyles .copyrightConteiner .copyright p {
    font-size: 18px;
  }
  .footerContainer.czStyles .copyrightConteiner .copyright h1 {
    font-size: 33px;
  }
  .footerContainer.czStyles .copyrightConteiner .navlinks ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 1550px) {
  .footerContainer .one h1 {
    font-size: 30px;
  }
  .footerContainer .one h1:lang(cz) {
    font-size: 30px;
  }
  .footerContainer .one p {
    font-size: 21px;
  }
  .footerContainer .one p:lang(cz) {
    font-size: 18px;
  }
  .footerContainer .one .footer p {
    font-size: 20px;
  }
  .footerContainer .one .footer p:lang(cz) {
    font-size: 18px;
  }
  .footerContainer .one .footer .mainMenu {
    width: 190px;
  }
  .footerContainer .one .footer .mainMenu nav ul li {
    font-size: 21px;
  }
  .footerContainer .copyrightConteiner .copyright {
    gap: 50px;
  }
  .footerContainer .copyrightConteiner .copyright h1 {
    font-size: 30px;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 1460px) {
  .footerContainer .one .footer {
    padding: 64px 100px;
  }
  .footerContainer .copyrightConteiner {
    justify-content: space-between;
    padding: 0 100px;
  }
  .footerContainer .copyrightConteiner:lang(cz) .copyright {
    gap: 0;
  }
  .footerContainer .copyrightConteiner .copyright:lang(eng) {
    gap: 120px;
  }
  .footerContainer .copyrightConteiner .copyright:lang(cz) {
    gap: 10px;
  }
}
@media screen and (max-width: 1330px) {
  .footerContainer .one .footer p {
    font-size: 18px;
  }
  .footerContainer .one .footer .about:lang(cz) {
    width: 200px;
  }
  .footerContainer .one .footer .about p {
    width: 85%;
  }
  .footerContainer .one .footer .contact {
    margin: 0 10px;
  }
  .footerContainer .one .footer .mainMenu {
    width: 170px;
  }
  .footerContainer .one .footer .mainMenu nav ul li {
    font-size: 18px;
  }
  .footerContainer .one .footer .mainMenu nav ul li:lang(cz) {
    margin: 0 10px;
  }
  .footerContainer .copyrightConteiner .copyright p {
    font-size: 18px;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    font-size: 18px;
  }
}
@media screen and (max-width: 1300px) {
  .footerContainer.czStyles .footer .about {
    width: 200px;
  }
  .footerContainer.czStyles .footer .mainMenu {
    width: 200px;
  }
  .footerContainer.czStyles .copyrightConteiner .navlinks ul li {
    margin: 0;
  }
}
@media screen and (max-width: 1250px) {
  .footerContainer .copyrightConteiner .copyright {
    gap: 50px;
  }
}
@media screen and (max-width: 1150px) {
  .footerContainer .one .footer {
    padding: 64px 50px;
  }
  .footerContainer .one .footer h1 {
    font-size: 25px;
  }
  .footerContainer .one .footer p {
    font-size: 18px;
  }
  .footerContainer .copyrightConteiner {
    padding: 0 50px;
  }
  .footerContainer .copyrightConteiner .copyright {
    gap: 50px;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 1080px) {
  .footerContainer.czStyles .one .footer .mainMenu {
    width: 170px;
  }
  .footerContainer.czStyles .copyrightConteiner .copyright {
    gap: 20px;
  }
  .footerContainer.czStyles .copyrightConteiner .navlinks ul li {
    margin: 0;
  }
}
@media screen and (max-width: 1048px) {
  .footerContainer.czStyles .copyrightConteiner .copyright {
    gap: 20px;
  }
  .footerContainer.czStyles .copyrightConteiner .copyright p {
    font-size: 16px;
  }
  .footerContainer.czStyles .copyrightConteiner .navlinks ul li {
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 1038px) {
  .footerContainer .one .footer .about p {
    width: 90%;
  }
  .footerContainer .one .footer .mainMenu {
    width: 180px;
  }
}
@media screen and (max-width: 1010px) {
  .footerContainer {
    min-height: 500px;
    padding: 20px;
  }
  .footerContainer .one .footer {
    padding: 20px 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .footerContainer .one .footer .logo {
    display: none;
  }
  .footerContainer .one .footer h1 {
    padding: 0;
  }
  .footerContainer .one .footer .about {
    width: 100%;
    height: 150px;
  }
  .footerContainer .one .footer .about h1 {
    text-align: center;
    padding: 0;
  }
  .footerContainer .one .footer .about p {
    width: 100%;
    padding: 0 200px;
    text-align: center;
  }
  .footerContainer .one .footer .contact {
    width: 100%;
    height: 200px;
    align-items: center;
  }
  .footerContainer .one .footer .mainMenu {
    height: 200px;
  }
  .footerContainer .one .footer .mainMenu h1 {
    text-align: center;
  }
  .footerContainer .one .footer .follow {
    width: 100%;
    height: 200px;
    align-items: center;
  }
  .footerContainer .one .footer .follow h1 {
    text-align: center;
  }
  .footerContainer .copyrightConteiner {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .footerContainer .copyrightConteiner .copyright {
    gap: 5px;
    display: flex;
    flex-direction: column;
  }
  .footerContainer .copyrightConteiner .copyright p {
    margin: 5px 0;
  }
  .footerContainer .copyrightConteiner .navlinks nav {
    margin: 5px 0;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    margin: 0 30px;
  }
}
@media screen and (max-width: 1010px) {
  .footerContainer.czStyles .copyrightConteiner .copyright {
    gap: 20px;
  }
  .footerContainer.czStyles .copyrightConteiner .copyright p {
    font-size: 16px;
  }
  .footerContainer.czStyles .copyrightConteiner .navlinks ul li {
    font-size: 16px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 750px) {
  .footerContainer .one .footer .about {
    height: 150px;
  }
  .footerContainer .one .footer .about p {
    padding: 0 200px;
    width: 100%;
  }
  .footerContainer .one .footer .mainMenu {
    width: 180px;
  }
}
@media screen and (max-width: 630px) {
  .footerContainer .one .footer .about {
    height: 150px;
  }
  .footerContainer .one .footer .about p {
    padding: 0 100px;
    width: 100%;
  }
  .footerContainer .one .footer .mainMenu {
    width: 180px;
  }
}
@media screen and (max-width: 500px) {
  .footerContainer .one .footer .about {
    height: 150px;
  }
  .footerContainer .one .footer .about p {
    padding: 0 50px;
    width: 100%;
  }
  .footerContainer .one .footer .mainMenu {
    width: 180px;
  }
  .footerContainer .copyrightConteiner {
    padding: 20px 0;
  }
  .footerContainer .copyrightConteiner .copyright h1 {
    font-size: 25px;
  }
  .footerContainer .copyrightConteiner .copyright p {
    font-size: 14px;
  }
  .footerContainer .copyrightConteiner .navlinks nav {
    margin: 5px 0;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    font-size: 14px;
    margin: 0 30px;
  }
}
@media screen and (max-width: 400px) {
  .footerContainer .one .footer p {
    font-size: 16px;
  }
  .footerContainer .one .footer .about p {
    padding: 0 20px;
    width: 100%;
  }
  .footerContainer .one .footer .mainMenu nav {
    justify-content: space-evenly;
  }
  .footerContainer .one .footer .mainMenu nav ul li {
    font-size: 16px;
  }
  .footerContainer .copyrightConteiner {
    padding: 20px 0;
  }
  .footerContainer .copyrightConteiner .copyright h1 {
    font-size: 25px;
  }
  .footerContainer .copyrightConteiner .copyright p {
    font-size: 14px;
  }
  .footerContainer .copyrightConteiner .navlinks nav {
    margin: 5px 0;
  }
  .footerContainer .copyrightConteiner .navlinks nav ul li {
    font-size: 12px;
    margin: 0 20px;
  }
}/*# sourceMappingURL=footer.module.css.map */