




.footerContainer {
  background-color: rgba(152, 137, 108, 1);
  &.czStyles{
  .one{
    .footer{
      .contact{
        width: 320px;
      }
    }
  }
  .copyrightConteiner{
    gap: 0;
    .copyright{
      p{
        font-size: 20px;
      }
    }
    .navlinks{
      ul{
        li{
          font-size: 20px;
        }
      }
    }
  }
  }
  .one {
    .footer {
      display: flex;
      padding: 64px 200px;
      justify-content: space-between;
      align-items: flex-start;

      h1 {
        font-weight: 400;
        padding-bottom: 25px;
        color: rgba(93, 64, 55, 1);
        text-align: start;
      }

      p {
        text-align: start;
        color: white;
        font-size: 22px;
      }

      .about {
        width: 240px;
        height: 260px;
        text-align: start;

        p {
          width: 100%;
          line-height: 28px;
        }
      }

      .mainMenu {
        width: 240px;
        height: 260px;

        nav {
          display: flex;
          justify-content: space-between;
          text-align: start;

          ul {
            height: 119px;
            line-height: 28px;

            li {
              margin: 16px 0;
              font-size: 22px;
              color: white;
              list-style: none;
            }
          }
        }
      }

      .logo {
        width: 290px;
        height: 264px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .contact {
        width: 290px;
        height: 260px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        a{
          text-decoration: none;
          color: white;
        }
      }

      .follow {
        width: 151px;
        height: 260px;
        display: flex;
        flex-direction: column;
        gap: 18px;
        .socialItem {
          color: white;
          font-size: 22px;
          display: flex;
          align-items: center;
          gap: 8px;
   

          img {
            width: 24px;
            height: 24px;
            object-fit: contain;
          }
        }
      }
    }
  }

  .copyrightConteiner {
    height: 86px;
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    color: white;
    gap: 20px;

    .copyright {
      font-size: 22px;
      display: flex;
      align-items: center;
      gap: 100px;

      h1 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    .navlinks {
      nav {
        display: flex;
        align-items: center;

        ul {
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            margin: 0 20px;
            font-size: 22px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1645px) {
  .czStyles{
    .one{
      .footer{
        .mainMenu{
          width: 200px;
        }
      }
    }
    .copyrightConteiner{
    h1{
      font-size: 40px;
    }
      .copyright{
        gap: 50px;      
      }
    }
    }
}



@media screen and (max-width: 1605px) {
  .footerContainer {
    .one {
      .footer {
        .about {
          p {
            width: 80%;
          }
        }
        .mainMenu {
          width: 200px;
        }
      }
    }
    .copyrightConteiner {
      justify-content: space-evenly;
      gap: 0;
      .copyright {
        gap: 50px;
      }
    }
  }
}
@media screen and (max-width: 1570px) {
  .czStyles{
    .one{
      .footer{
        .mainMenu{
       
        }
      }
    }
    .copyrightConteiner{
      .copyright{
        p{
          font-size: 18px;
        }
       h1{
        font-size: 33px;
       }
      }
      .navlinks{
        ul{
          li{
font-size: 18px;
          }
        }
      }
    }
    }
}
@media screen and (max-width: 1550px) {
  .footerContainer {
    .one {
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 21px;
      }
      .footer {
        p {
          font-size: 20px;
        }

        .mainMenu {
          width: 190px;
          nav {
            ul {
              li {
                font-size: 21px;
              }
            }
          }
        }
      }
    }
    .copyrightConteiner {
      .copyright {
        gap: 50px;
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1460px) {
  .footerContainer {
    .one {
      .footer {
        padding: 64px 100px;
      }
    }
    .copyrightConteiner {
      justify-content: space-between;
      padding: 0 100px;
      .copyright {
        gap: 120px;
      }
    }
  }
}

@media screen and (max-width: 1330px) {
  .footerContainer {
    .one {
      .footer {
        p {
          font-size: 18px;
        }
        .about {
          p {
            width: 85%;
          }
        }
        .contact {
          margin: 0 10px;
        }
        .mainMenu {
          width: 170px;
          nav {
            ul {
              li {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .copyrightConteiner {
      .copyright {
        p {
          font-size: 18px;
        }
      }
      .navlinks {
        nav {
          ul {
            li {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1250px) {
  .footerContainer {
    .copyrightConteiner {
      .copyright {
        gap: 50px;
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  .footerContainer {
    .one {
      .footer {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 18px;
        }
        padding: 64px 50px;
      }
    }
    .copyrightConteiner {
      padding: 0 50px;
      .copyright {
        gap: 50px;
      }
      .navlinks {
        nav {
          ul {
            li {
              margin: 0 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1038px) {
  .footerContainer {
    .one {
      .footer {
        .about {
          p {
            width: 90%;
          }
        }
        .mainMenu {
          width: 180px;
        }
      }
    }
  }
}
@media screen and (max-width: 1010px) {
  .footerContainer {
    min-height: 500px;
    padding: 20px;
    .one {
      .footer {
        padding: 20px 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        .logo {
          display: none;
        }
        h1{
          padding: 0;
        }
        .about {
          width: 100%;
          height: 200px;
          h1 {
            text-align: center;
            padding: 0;
          }
          p {
            width: 100%;
            padding: 0 250px;
            text-align: center;
          }
        }
        .contact {
          width: 100%;
          height: 200px;
          align-items: center;
        }
        .mainMenu {
          height: 200px;
          h1 {
            text-align: center;
          }
        }
        .follow {
          width: 100%;
          height: 200px;
          align-items: center;
          h1 {
            text-align: center;
          }
        }
      }
    }
    .copyrightConteiner {
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 20px ;
      .copyright {
        gap: 5px;
        display: flex;
        flex-direction: column;
        p{
          margin: 5px 0;
        }
      }
      .navlinks {
        nav{
          margin: 5px 0;
          ul {
            li {
              margin: 0 30px;
            }
          }
        }
      
      
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .footerContainer {
    .one {
      .footer {
        .about {
          height: 150px;
          p {
            padding: 0 200px;
            width: 100%;
          }
        }
        .mainMenu {
          width: 180px;
        }
      }
    }
  }
}
@media screen and (max-width: 630px) {
  .footerContainer {
    .one {
      .footer {
        .about {
          height: 150px;
          p {
            padding: 0 100px;
            width: 100%;
          }
        }
        .mainMenu {
          width: 180px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .footerContainer {
    .one {
      .footer {
        .about {
          height: 150px;
          p {
            padding: 0 50px;
            width: 100%;
          }
        }
        .mainMenu {
          width: 180px;
        }
      }
    }
     .copyrightConteiner {
      padding: 20px 0;
      .copyright {
        h1{
          font-size: 25px;
        }
        p{
          font-size: 14px;  
        }
     
      }
      .navlinks {
        nav{
          margin: 5px 0;
          ul {
         
            li {
              font-size: 14px;
              margin: 0 30px;
            }
          }
        }
      
      
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .footerContainer {
    .one {
      .footer {
        p{
          font-size: 16px;
        }
        .about {
         
          p {
            padding: 0 20px;
            width: 100%;
          }
        }
       .mainMenu{
        nav{
          justify-content: space-evenly;
          ul{
            li{
              font-size: 16px;
            }
          }
        }
       }
      }
    }
    .copyrightConteiner {
      padding: 20px 0;
      .copyright {
        h1{
          font-size: 25px;
        }
        p{
          font-size: 14px;  
        }
     
      }
      .navlinks {
        nav{
          margin: 5px 0;
          ul {
         
            li {
              font-size: 12px;
              margin: 0 20px;
            }
          }
        }
      
      
      }
    }
  }
}