*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

 @font-face {
  font-family: "aurora";
  src: url('../src/Fonts/aurora-2-webfont.zip');
}

/* @font-face {
  font-family: "Aurora-light";
  src: url("./Fonts/aurora/Aurora-light.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aurora-small";
  src: url("./Fonts/aurora/Aurora-small.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aurora-medium";
  src: url("./Fonts/aurora/Aurora-medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Aurora-large";
  src: url("./Fonts/aurora/Aurora-large.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
} */
/* body{
  font-family: "aurora";
}  */