.conteiner{
  &:hover{
    color: rgba(97, 85, 59, 1);;
  }
    .language {
        font-size: 16px;
     
        @media (min-width: 600px) {
          font-size: 18px;
        }
      
        @media (min-width: 960px) {
          font-size: 20px;
        }
      }
      

}
